<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3DPrintIQ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to the updated CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <header>
        <h1>3DPrintIQ</h1>
    </header>

    <main>
        <section id="monitoring-section">
            <div id="webcam-container">
                <video id="camera-feed" autoplay muted playsinline></video>
                <button id="analyze-button">Emergency Stop</button>
                <button class="toggle-button" id="myToggleButton">Detect Errors</button>
            </div>
            <div id="logs-container">
                <h2>Detection Logs</h2>
                <ul id="context-list"></ul>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 3DPrintIQ Inc.</p>
    </footer>

    <!-- Link to the updated JavaScript file -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
